<div class="w-full flex flex-col justify-center pb-14 ">
  <%= turbo_frame_tag "modal" %>

    <section class="text-center h-14 w-full text-2xl p-4 bg-white font-extrabold text-black shadow-sm mb-2">
      <h1>Feed</h1>
    </section>



    <%= turbo_frame_tag "tasks" do %>
      <%= render partial: "task" , collection:@tasks %>
    <% end %>


</div>
